@font-face {
  font-family: "Ubuntu-try";
  src: url(../fonts/Ubuntu-Regular.ttf);
  font-weight: 400;
  font-display: fallback;
}
@font-face {
  font-family: "Ubuntu-try";
  src: url(../fonts/Ubuntu-Bold.ttf);
  font-weight: 800;
  font-display: optional;
}
html{
  scroll-behavior: smooth;
}
body{
  font-size: 20px;
  font-family: "Ubuntu-try", sans-serif;
  background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
  /* background-image: url(../Images/kristaps-ungurs-xq2eYNKk8aM-unsplash.jpg);
  background-size: cover;
  background-position: center; */
  scroll-behavior: smooth;
}
.container{
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  gap: 0;
  grid-template-areas:
  "header header header"
  "left right right"
  "accomplished accomplished accomplished"
  "next next next"
  "footer footer footer";
}
.header, .left, .right, .footer{
  overflow: hidden;
}
.header{
  background-color: #364F6B;
  grid-area: header;
  padding: 20px 20px;
  height: 5vh;
}
.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
}
.menu a {
  text-decoration: none;
  color: white;
  padding: 10px;
}
.menu li{
  list-style: none;
}
nav a {
  text-decoration: none;
  color: #fff;
  font-weight: 800;
}
.nav a:hover {
  color: #F3AA60;
}
.footer a {
  text-decoration: none;
  color: #fff;
}
 a:hover {
  color: #F3AA60;
  transition: 0.5s;
} 
.left{
  background-color: rgba(63, 193, 201, 0.5);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 1.5em;
  margin-left: 1.5em;
  margin-right: 1.5em;
  grid-area: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2em;
  height: 35em;
}
.photo img{
  overflow: hidden;
  cursor: pointer;
  border-radius: 2em;
  width: 14em;
  margin-top: 2em;
  margin-bottom: 3em;
  transition: all 0.5s ease;
}
.photo img:hover{
  transform: scale(1.1);
}
.card-socials{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 2.5em;
  
}
.card-socials a{
  text-decoration: none;
  /* background-color: #F5F5F5; */
  color:#393e46;
}
.facebook-container a,
.x-container a,
.github-container a{
  cursor: pointer;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0.4em;
  width: 1.3em;
  height: 1.3em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.25em;
  margin-left: 0.25em;
}
.facebook-container a:hover,
.x-container a:hover,
.github-container a:hover{
  animation-name: "change-bg";
  animation-iteration-count: 1;
  animation-duration: 1s;
}
@keyframes change-bg {
  from{
    background-color: rgba(255, 255, 255, 0.5);
    color: #393e46;
    border-radius: 0.4em;
    width: 1.3em;
    height: 1.3em;
  }
  to{
    background-color: #393e46;
    color: rgba(255, 255, 255, 0.5);
    border-radius: 0.4em;
    width: 1.3em;
    height: 1.3em;
  }
}
.facebook-card:hover,
.x-card:hover,
.github-card:hover{
  animation-name: "spin360";
  animation-iteration-count: 1;
  animation-delay: 0.5s;
  animation-duration: 1s;
}
@keyframes spin360 {
  0%{
    transform: rotateY(0deg);
  }
  100%{
    transform: rotateY(360deg);
  }
}
.right{
  background-color: rgba(63, 193, 201, 0.5);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2); 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 1.5em;
  margin-right: 1.5em;
  display: flex;
  flex-direction: column;
  grid-area: right;
  border-radius: 2em;
  height: 35em;
}
.first-word{
  font-size: 1.5em;
  font-weight: 800; 
}
.right p, .accomplished-button, .next-button{
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
  color:#F5F5F5;
  line-height: normal;
}
.button{
  padding: 2em;
  display: flex;
  justify-content: space-around;
}
.button li{
  list-style:none;
}
.button a{
  text-decoration: none;
  color: #EEE;
}
.accomplished-button, .next-button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00ADB5;
  width : 300px;
  height: 50px;
  border-radius: 2.5em;
 }
 .accomplished-button a:hover, .next-button a:hover{
  color: #F3AA60;
 }
.accomplished{
  grid-area: accomplished;
  background-color: rgba(63, 193, 201, 0.5);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2); 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 8em;
  margin-left: 2em;
  margin-right: 2em;
  height: fit-content;
  padding: 1em;
  border-radius: 2em;
  margin-bottom: 2em;
  line-height: normal;
}
.accomplished p, .next p{
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
  color:#F5F5F5;
  line-height: normal;
}
.table {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  height: fit-content; 
  
}
.table-caption{
  display: table-caption;
  align-self: center;
  font-weight: 800;
  margin-top: 1em;
  margin-bottom: 0.5em;
  color: #F5F5F5;
}
.table-body{
  display: table-row-group;
  background-color: #00ADB5;
}
.table-header{
  text-align: center;
  display: table-header-group;
  background-color: #001F3F;
  color: #F5F5F5;
}
.table-row{
  display: table-row;
 
}
.table-cell-row{
  text-align: end;
  display: table-cell;
  padding: 20px;
}
.table-cell-field{
  text-align: start;
  display: table-cell;
  padding: 20px;
  color:#F5F5F5
}
.table-cell-experience{
  text-align: end;
  display: table-cell;
  padding: 20px;
  color:#F5F5F5
}
.next{
  grid-area: next;
  background-color: rgba(63, 193, 201, 0.5);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2); 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 8em;
  margin-left: 2em;
  margin-right: 2em;
  height: fit-content;
  padding: 1em;
  padding-bottom: 3em;
  border-radius: 2em;
  margin-bottom: 2em;
  line-height: normal;
  overflow: hidden;
 }
.next .next-learning{
  text-align: center;
}
.next hr, .accomplished hr{
  width: 40em;
  height: 0.25em;
  background-color: #00ADB5;
  border-radius: 2em;
  border: transparent;
}
.big-list{
  list-style: none;
  margin-left: 2em;
  color: #F5F5F5;
}
.small-list{
  list-style: circle;
  padding: 1em;
  margin-left: 3em;
  color: #F5F5F5;
}
.footer{
  background-color: #222831;
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding-top: 1rem;
  padding-bottom: 2rem;
  margin-bottom: 0;
  grid-area: footer;
  display: flex;
  flex-direction: column;
  color: aliceblue;
}
.here{
  transition: 0.5s;
}
.footer-email{
  margin-left: auto;
  margin-right: auto;
}
.footer hr{
  width: 15em;
  height: 0.125em;
  background-color: #00ADB5;
  margin-top: 1em;
  border-radius: 2em;
  border: transparent;
}
